/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

body {
  font-family: 'Merriweather', serif;
  background-color: rgba(82,73,91,.05);
}

.todo-enter {
  opacity: 0.01;
}

.todo-enter.todo-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

// Give the navigation some padding
.nav {
	
	// Style the active links
	a.active {
		font-weight: bold;
	}
}

.navbar-brand {
  padding: 10px 15px;
  img {
    border-radius: 50%;
  }
}

.navbar-inverse {
  background-color: #ECE4EC;
  border-color: #E5D9E5;
  box-shadow: 0 1px 9px rgba(142, 151, 155, .67);
}

#expand-todo-form {
  font-size: 1.3em;
  text-align: center;
  font-weight: 500;
  background-color: #9D849D;
  color: white;
  border-radius: 2px 2px 0 0;
  padding: 2.4%;

  &:hover {
    background-color: #969;
  }
}

.todo-title-row,
.todo-snippet-row,
.todo-badges-row {
}

.add-todo-form {
  padding: 10px;
}

.clean-row {
  padding: 0;
}

.sub-navigation {
  border-bottom: 1px solid #E5D9E5;
  margin-bottom: 10px;
  a {
    color: #969;
  }
}

ul.actions-list {
  list-style: none;
  margin: 0;
  padding: 5px;

  li {
    margin: 1% 20px 1% 0;
    display: inline-block;
  }
}

#todo-list,
#content-pane {
  box-shadow: 1px 5px 11px rgba(142, 151, 155, .67);
  background-color: white;
}

#content-pane {
  padding: 20px;
  min-height: 450px;
}

.todo-list {
  padding-left: 0;
  list-style: none;

  .todo-list-item {
    height: 130px;
    width: 100%;
    background-color: rgba(199, 210, 211, 0.19);;
    padding: 4%;
    border-bottom: 1px solid #222;
    color: #222;

    .title {
      color: #979;
      font-size: 1.6em;
    }

    .button-bar {
      margin: 10px auto;
      float: right;
    }

    p {
      color: #666;
    }

    .todo-complete-status {
      border: 3px solid rgba(153,102,153,.4);
      border-radius: 50%;
      height: 35px;
      width: 35px;

      &.completed {
        background-color: #BE5580;
      }
    }

    &:hover {
      background-color: rgba(122, 211, 219, .09);
      color: #999;
      .title {
        color: #979;
      }
    }

    &.focused {
      background-color: rgba(122, 211, 219, .19);
    }


    .btn {
      border-radius: 50%;
      color: white;

      &.btn-delete-todo {
        background-color: rgba(178,108,137,.32);
        &:hover {
          background-color:#DB065D;
          box-shadow: 1px 5px 11px rgba(142, 151, 155, .67);
        }
      }
    }
  }
}

body {
  // accomodates the fixed Nav
  padding-top: 50px;
}
